[Desktop Entry]
Categories=BigApps;
Exec=big-driver-manager
Icon=/usr/share/bigbashview/bcc/apps/drivers/icon-drivers.svg
Name=Install Drivers and Firmware
Name[bg]=Инсталиране на драйвери и фирмуер
Name[cs]=Instalace ovladačů a firmware
Name[da]=Installer drivere og firmware
Name[de]=Treiber und Firmware installieren
Name[el]=Εγκατάσταση οδηγών και firmware
Name[es]=Instalar controladores y firmware
Name[et]=Draiverite ja tarkvara installimine
Name[fi]=Asenna ajurit ja firmware
Name[fr]=Installer les pilotes et le firmware
Name[he]=התקנת דרייברים וקושחה
Name[hr]=Instaliraj upravljačke programe i firmware
Name[hu]=Meghajtók és firmware telepítése
Name[is]=Setja upp rekana og fastvara
Name[it]=Installare driver e firmware
Name[ja]=ドライバーとファームウェアをインストールする
Name[ko]=드라이버 및 펌웨어 설치
Name[nl]=Stuurprogramma's en firmware installeren
Name[no]=Installer drivere og programvare
Name[pl]=Instalowanie sterowników i oprogramowania
Name[pt]=Instalar drivers e firmware
Name[ro]=Instalarea driver-elor și a firmware-ului
Name[ru]=Установка драйверов и прошивки
Name[sk]=Inštalácia ovládačov a firmware
Name[sv]=Installera drivrutiner och fast programvara
Name[tr]=Sürücüleri ve firmware'yi yükle
Name[uk]=Встановлення драйверів та прошивки
Name[zh]=安装驱动程序和固件
Terminal=false
Type=Application
