[Desktop Entry]
Categories=BigApps;
Exec=big-kernel-manager
Icon=/usr/share/bigbashview/bcc/apps/drivers/icon-kernel.svg
Name=Install Kernel and Desktop Versions
Name[bg]=Инсталиране на ядро и версии на работния плот
Name[cs]=Instalace jádra a desktopových verzí
Name[da]=Installer kerne og desktop versioner
Name[de]=Kernel und Desktop-Versionen installieren
Name[el]=Εγκατάσταση πυρήνα και εκδόσεων επιφάνειας εργασίας
Name[es]=Instalar versiones del kernel y del escritorio
Name[et]=Kerneli ja töölaua versioonide installimine
Name[fi]=Asenna kerneli ja työpöytäversiot
Name[fr]=Installer les versions du noyau et du bureau
Name[he]=התקנת ליבות וגרסאות שולחן העבודה
Name[hr]=Instaliranje kernela i verzija radne površine
Name[hu]=Kernel és asztali verziók telepítése
Name[is]=Setja upp kernel og skrifborðsútgáfur
Name[it]=Installare versioni del kernel e del desktop
Name[ja]=カーネルとデスクトップバージョンをインストールする
Name[ko]=커널 및 데스크톱 버전 설치
Name[nl]=Kernel- en desktopversies installeren
Name[no]=Installer kjerne og skrivebordsversjoner
Name[pl]=Instalacja wersji jądra i pulpitu
Name[pt]=Instalar versões do kernel e do ambiente de trabalho
Name[ro]=Instalarea versiunilor de kernel și desktop
Name[ru]=Установка ядра и версий рабочего стола
Name[sk]=Inštalácia jadra a desktopových verzii
Name[sv]=Installera kernel och skrivbordsversioner
Name[tr]=Çekirdek ve Masaüstü Sürümlerini Yükle
Name[uk]=Встановлення ядра та версій робочого столу
Name[zh]=安装内核和桌面版本
Terminal=false
Type=Application
