[Desktop Entry]
Categories=Settings;
Exec=big-hardware-info
Icon=/usr/share/bigbashview/bcc/apps/drivers/hardware-info.svg
Name=System and Hardware Information
Terminal=false
Type=Application
