[Desktop Entry]
Categories=System;
Exec=big-kernel-manager
Icon=/usr/share/bigbashview/bcc/apps/drivers/hardware-info.svg
Name=Install Kernel and Desktop Versions
Terminal=false
Type=Application
