[Desktop Entry]
Categories=BigApps;
Exec=big-hardware-info
Icon=/usr/share/bigbashview/bcc/apps/drivers/hardware-info.svg
Name=System and Hardware Information
Name[bg]=Информация за системата и хардуера
Name[cs]=Informace o systému a hardwaru
Name[da]=System- og hardwareoplysninger
Name[de]=System- und Hardware-Informationen
Name[el]=Πληροφορίες συστήματος και υλικού
Name[es]=Información del sistema y el hardware
Name[et]=Süsteemi- ja riistvarateave
Name[fi]=Järjestelmä- ja laitteistotiedot
Name[fr]=Informations sur le système et le matériel
Name[he]=מידע על המערכת והחומרה
Name[hr]=Informacije o sustavu i hardveru
Name[hu]=Rendszer- és hardverinformációk
Name[is]=Kerfis- og vélbúnaðarupplýsingar
Name[it]=Informazioni di sistema e hardware
Name[ja]=システムとハードウェアの情報
Name[ko]=시스템 및 하드웨어 정보
Name[nl]=Systeem- en hardware-informatie
Name[no]=System- og maskinvareinformasjon
Name[pl]=Informacje o systemie i sprzęcie
Name[pt]=Informações do sistema e hardware
Name[ro]=Informații despre sistem și hardware
Name[ru]=Информация о системе и оборудовании
Name[sk]=Informácie o systéme a hardvéri
Name[sv]=System- och maskinvaruinformation
Name[tr]=Sistem ve Donanım Bilgisi
Name[uk]=Інформація про систему та обладнання
Name[zh]=系统和硬件信息
Terminal=false
Type=Application
